* {
  box-sizing: border-box;
  background-color: black;
}

/* Title */
.title {
  color: #fbbf24;
  text-align: center;
  font-style: italic;
  font-family: fantasy;
  font-size: 32px;
  margin: 3px;
}

.separator {
  width: 100%;
  background-image: linear-gradient(
    to right top,
    #051937,
    #5c2a5b,
    #af3b57,
    #dc7330,
    #cbc000
  );
  width: 100%;
  height: 2px;
  margin: 0;
  padding: 0;
  height: 1px;
}

/* Game board */
.game-area {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
  margin-bottom: 5%;
}

.game-board {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 7px;
  width: auto;
}

.textBox {
  width: 50px;
  height: 50px;
  border: 2px white solid;
  color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  text-transform: uppercase;
}
/* Checking the text */
.correct {
  background-color: green;
}
.close {
  background-color: orange;
}
.not-included {
  background-color: gray;
}

.invalid {
  background-color: red;
}

/* If win */
.end-modal {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  background-color: rgba(0, 0, 0, 0.9);
  overflow: hidden;
}
.end-modal h1 {
  text-align: center;

  font-size: 48px;
  background-color: none;
}
.win {
  color: #16a34a;
}
.end-modal p {
  font-size: 24px;
  color: azure;
  text-align: center;
}

.hidden {
  display: none;
}

.lose {
  color: red;
}
@media only screen and (min-width: 500px) {
  .keyboard {
    width: 50px;
    height: 50px;
  }
  .win-modal h1 {
    font-size: 64px;
  }
  .win-modal p {
    font-size: 32 px;
  }
  .title {
    font-size: 62px;
  }
  .textBox {
    width: 75px;
    height: 75px;
    font-size: 42px;
  }
}
